#app {
    padding: 4px;
    display: flex;
    flex-wrap: wrap;
}
section {
    text-align: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: space-around;
    position: relative;
}
.container {
    position: relative;
    width: 300px;
    border: 1px solid #ccc;
}

.contentLogo {
    border-top: 0px;
    margin: 0px 5px;
    padding: 11px 0px 6px;
}

.contentLogo img{ 
    width: 100%;
    max-width: 224px;
}

.cardProduct {
    border: 1px solid #ccc;
    padding: 2px 4px;
    margin: 0.5px;
    flex: 40%;
    align-items: center;
    justify-content: center;
}

.cardProduct .imageProduct img{
    max-height: 71px;
}

.priceProduct {
    font-size: 10px;
}